html, body{
    background-color: black;
    margin: 0px;
    height: 100%;
}


#page-wrapper{
    display: flex;
    flex-flow: row;
    height: 100%;
}

#twitch-player{
    flex: 50 1 auto;
}

#twitch-chat{
    flex: 1 1 auto;
}