html, body{
    background-color: black;
    margin: 0px;
    height: 100%;
}


#page-wrapper{
    display: flex;
    flex-flow: row;
    height: 100%;
}

#kick-icon{
    position: absolute;
    height: 10%;
    opacity: 0;
}

#platformSwitch{
    display: none;
}

#channelSelector {
    animation: fadeOut 0.2s forwards;
    animation-delay: 5s;
    position: absolute;
    display: inline-block;
    left: 0%;
    border: none;
    color: white;
    padding: 20px 105px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: #4CAF50;
}

#channelSelector:hover {
    animation: fadeIn 0.2s forwards;
}

#alertBox {
    display: none;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}


@media only screen and (max-aspect-ratio: 1/1){
    .player{
        flex: 1 1 auto;
    }

    .chat{
        flex: 6 1 auto;
    }
    #page-wrapper {
        flex-flow: column;
    }
    #channelSelector{
        left: 0%;
    }
}
@media only screen and (min-aspect-ratio: 1/1){
    .player{
        flex: 50 1 auto;
    }

    .chat{
        flex: 1 1 auto;
    }
}